@charset "utf-8";

/*-----------------------------------
global navi
-----------------------------------*/
.globalnavi{
	margin-bottom:10px;
	}
/*-----------------------------------
breadcrumb
-----------------------------------*/
.breadcrumb{
	width:1000px;
	margin:0 auto;
	margin-bottom:30px;
	}
.breadcrumb:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.breadcrumb li{
	float:left;
	font-size:12px;
	}
.breadcrumb li.home{
	background-image: url(../img/common/P_home.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:18px;
	margin-right:10px;
	}
/*-----------------------------------
content
-----------------------------------*/
.content{
	width:1000px;
	margin:0 auto;
	}
.content:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.content h2{
	}
/*-----------------------------------
profile
-----------------------------------*/
.profile{
	width:700px;
	margin:0 auto;
	margin-bottom:100px;
	}
.profile h3{
	margin-bottom:30px;
	}
.snsbox{
	width:145px;
	margin:0 auto;
	margin-bottom:30px;
	}
.snsbox:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.snsbox li{
	float:left;
	margin-right:20px;
	}
.snsbox li:last-child{
	margin-right:0;
	}
.snsbox li img{
	width:35px;
	}